<html>
    <head>
       <h1>
            <span><b>Good Eats</b>
            </br>
            Your Online Personal Cookbook</span>
        </h1>
         
    </head>
    <body>
        <div class = "food_image"> <%= image_tag("food.jpg")%> </div>
        <div id="wrap">
            <div class = "left">
                    <h2 class = "left_h2">Our Goal</h2>
                    <p class = "border">
                    Our goal is to create a personal online recipe cookbook for you, yes You!. 
                    It will allow you chefs out there to  add 
                    recipes to your very own cookbook. Being able to prepare your own meal 
                    is a mark of independence, maturity and financial stability. So get out there
                    and populate your cookbook with meals of your very own.
                    We also have some of our favorite recipes yet simple for you to benchmark your 
                    abilities in the kitchen.
                    Happy Cooking :)
                    </p>
                    
                <h2>Want to view some delicious recipes?</h2>
                <table class="rTable">
                    <thead>
                        <tr>
                            <th>Some of our Favorites</th>
                        </tr>
                    </thead>
                    
                    <tbody>
                        <tr>
                            <td><%= link_to 'Shepherds Pie', recipe_recipe1_path %></td>
                        </tr>
                        <tr>
                            <td><%= link_to 'Pecan Pie', recipe2_recipe2_path %></td>
                        </tr>
                        <tr>
                            <td><%= link_to 'Blueberry Scones with Lemon Glaze', recipe3_recipe3_path %></td>
                        </tr>
                        <tr>
                            <td><%= link_to 'Want to view more Recipes?', controller: 'articles' %></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
            <div class = "right">
                 <h2>
                     Want to add your own Recipe?
                </h2>
                 <%= image_tag("burrito-chicken-close-up-461198.jpg")%>
                 <br>
                 <%= link_to 'Create A New Recipe', new_article_path %>
            </div>
        </div>
 </body>
</html>