<p>
    <h2>Recipe Name:</h2>
    </br>
    <text><%=@article.Recipe_Name %></text>
</p>

<p>
    <h2>Ingredients and Supplies:</h2>
    </br>
    <text><%=@article.Ingredients_and_Supplies %></text>
   
</p>

<p>
    <h2>Directions:</h2>
    </br>
    <text><%=@article.Directions %></text>

</p>

<h2>Comments</h2>
<%= render @article.comments %>
</br>
</br>
</br>

<h2>Add a Comment</h2>
<%= render 'comments/form' %>
<div class = "link">
    <%= link_to 'Back To Recipe Book', articles_path %>
</div>
